<%= form_with(model: surf_day) do |form| %>
  <% if surf_day.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(surf_day.errors.count, "error") %> prohibited this surf_day from being saved:</h2>

      <ul>
        <% surf_day.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.rich_text_area :description %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.datetime_field :date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
