<%= form_with model: [@surf_day, Forecast.new ] do |form| %>
  <div class="new-forecast-formgroup">
    <div class="new-forecast-input">
      <%= form.label :surf_height %>
      <%= form.text_field :surf_height %>
    </div>

    <div class="new-forecast-input">
      <%= form.label :surf_direction %>
      <%= form.text_field :surf_direction %>
    </div>

    <div class="new-forecast-input">
      <%= form.label :surf_energy%>
      <%= form.text_field :surf_energy %>
    </div>


    <div class="new-forecast-input">
      <%= form.label :wind_speed %>
      <%= form.text_field :wind_speed %>
    </div>

    <div class="new-forecast-input">
      <%= form.label :wind_direction %>
      <%= form.text_field :wind_direction %>
    </div>
    <div class="new-forecast-input">
      <%= form.submit "Add", class: "new-forecast-submit_button" %>
    </div>
  </div>
<% end %>